body{
    background: url("/img/boardwalk.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
    font-family: fantasy;
    text-align: center;
    display: inline-flexbox;
    color: black;
}

.menu-item{
    height: 150px;
    width: auto;
}

form div{
    padding-bottom: 15px;
}

#submit-order-btn, #begin-order-btn{
    font-size: large;
    font-family: fantasy;
    width: max-content;
    margin-bottom: 50px;
    margin-top: 10px;
}

#welcome-page{
    padding-top: 75px;
    font-size: large;
}

#order-content{
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#receipt{
    display: none;
}

label, p, #ordered-items, #final-order, #total{
    font-size: x-large;
}

input{
    width: 70px;
    font-size: large;
}
  
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}